<section class="p-10 text-center">
  <h1 class="text-4xl font-bold">¡Bienvenido a nuestra tienda de figuras de colección!</h1>
  <p class="mt-4 text-lg">Explora nuestros productos y únete a nuestra pasión por el coleccionismo.</p>
  <p class="mt-2 text-base text-gray-700">
  Somos coleccionistas como tú, por eso seleccionamos figuras, carritos Hot Wheels y artículos de anime como <em>Dragon Ball</em>, <em>Demon Slayer</em> y más, con el mismo entusiasmo que tú los buscas.
  </p>
  <p class="mt-2 text-base text-gray-700 font-medium">
  Sé parte de nuestra familia de coleccionistas y lleva tu pasión al siguiente nivel.
  </p>
  </section>

  <app-carrusel></app-carrusel>

